.container_row_todo {
    width: 90%;
    background-color: silver;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
}

.container_for_text_todo {
    margin: 10px;
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
    width: 82%;
}

.container_for_text_field_todo {
    margin: 5px;
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
    width: 82%;
}

.text_todo_edit {
    justify-content: center;
    width: 95%;
}

.container_todo_list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_todo_lists {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_for_buttons{
    margin: 10px;
}

.button_todo{
    height: 100%;
}

.container_for_button_save{
    margin: 10px;
    width: 17%;
}

.button_save {
    width: 100%;
}
